<div class="card mb-0 mt-4 rounded-0">
  <div class="card-header card-custom-top">
    <h5 class="align-middle text-dark">
      <i class="fas fa-hand-holding-usd"></i> Consultar Contas Por Cliente
    </h5>
  </div>
  <div class="card-body">
    <form [formGroup]="form">
      
      <div class="row">

        <div class="col-12 col-md-2">
          <div class="form-group">
            <label class="form-required">
              <small [ngClass]="{'text-red': displayMessage.cpf}">CPF</small>
            </label>
            <input type="text" class="form-control" formControlName="cpf" [ngClass]="{'is-invalid': displayMessage.cpf}">
            <small class="form-text text-red" *ngIf="displayMessage.cpf" [innerHTML]="displayMessage.cpf"></small>
          </div>
        </div>

      </div>

    </form>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-12">
        <button type="submit" class="btn btn-danger float-right" [disabled]="form.invalid" (click)="onSubmit()">
          <i class="fa fa-check"></i>
          Consultar
        </button>
        <a [routerLink]="['/conta/operacoes']" class="btn btn-secondary float-right mr-1"> 
          <i class="fa fa-times"></i>
          Cancelar
        </a>
      </div>
    </div>
  </div>
</div>


<div class="card mb-0 mt-4 rounded-0" *ngIf="contas">

  <div class="card-header card-custom-left">
    <h5 class="align-middle text-dark">
      <i class="fas fa-hand-holding-usd"></i> Contas
    </h5>
  </div>
  <div class="container">
    <table class="table table-striped">
      <thead class="thead-dark">
        <th class="radius-left-table" scope="col">ID</th>
        <th scope="col">Agência</th>
        <th scope="col">Número da Conta</th>
        <th scope="col">Cliente</th>
        <th scope="col">Saldo</th>
      </thead>
      <tbody>
        <tr *ngFor="let conta of contas">
          <td scope="row">{{conta.id}}</td>
          <td>{{conta.agencia}}</td>
          <td>{{conta.numeroConta}}</td>
          <td>{{conta.cliente.nome}}</td>
          <td>{{conta.saldo}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>