<div class="card mb-0 mt-4 rounded-0">
    <div class="card-header card-custom-top">
      <h5 class="align-middle text-dark">
        <i class="fas fa-hand-holding-usd"></i> {{ nameScreen }}
      </h5>
    </div>
    <div class="card-body">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="form-group">
              <label class="form-required">
                <small [ngClass]="{'text-red': displayMessage.agencia}">CPF</small>
              </label>
              <input type="text" class="form-control" formControlName="cpf" [ngClass]="{'is-invalid': displayMessage.cpf}">
              <small class="form-text text-red" *ngIf="displayMessage.cpf" [innerHTML]="displayMessage.cpf"></small>
            </div>
          </div>
  
          <div class="card-footer">
            <div class="row">
              <div class="col-12">
                <button type="submit" class="btn btn-danger float-right" [disabled]="form.invalid" (click)="onSubmit()">
                  <i class="fa fa-check"></i>
                  Salvar
                </button>
                <a [routerLink]="['/conta/operacoes']" class="btn btn-secondary float-right mr-1"> 
                  <i class="fa fa-times"></i>
                  Cancelar
                </a>
              </div>
            </div>
          </div>

          <table *ngIf="contasN" class="table table-striped">
           <thead>
             <tr>
               <th>Agencia</th>
               <th>numero Da Conta</th>
               <th>Cliente</th>
               <th>CPF</th>
             </tr>
           </thead>
           <tbody>
             <tr *ngFor="let c of contasN">
                 <td>{{c.agencia}}</td>
                 <td>{{c.numeroConta}}</td>
                 <td>{{c.cliente.nome}}</td>
                 <td>{{c.cliente.cpf}}</td>
             </tr>
           </tbody>
          </table>