<div class="card mb-0 mt-4 rounded-0">
  <div class="card-header card-custom-top">
    <h5 class="align-middle text-dark">
      <i class="fas fa-coins"></i> Transferir
    </h5>
  </div>
  <div class="card-body">
    <h6 class="align-middle text-dark">
      <i class="fas fa-upload"></i> Conta de Origem
    </h6>

    <app-form-conta
      (isFormContaInvalid)="setIsFormContaOrigemInvalid($event)"
      (agenciaDaContaOrigem)="setAgenciaDaContaOrigem($event)"
      (numeroContaDaContaOrigem)="setNumeroContaDaContaOrigem($event)"
    ></app-form-conta>

    <h6 class="align-middle text-dark">
      <i class="fas fa-download"></i> Conta de Destino
    </h6>

    <app-form-conta
      (isFormContaInvalid)="setIsFormContaDestinoInvalid($event)"
      (agenciaDaContaDestino)="setAgenciaDaContaDestino($event)"
      (numeroContaDaContaDestino)="setNumeroContaDaContaDestino($event)"
    ></app-form-conta>

    <h6 class="align-middle text-dark">
      <i class="fas fa-dollar-sign"></i> Valor
    </h6>
    <app-form-valor
      (isFormValorInvalid)="setIsFormValorInvalid($event)"
      (valor)="setValor($event)"
    ></app-form-valor>
  </div>

  <div class="card-footer">
    <div class="row">
      <div class="col-12">
        <button
          type="submit"
          class="btn btn-success float-right"
          [disabled]="
            isFormContaOrigemInvalid ||
            isFormContaDestinoInvalid ||
            isFormValorInvalid
          "
          (click)="onSubmit()"
        >
          <i class="fa fa-check"></i>
          Salvar
        </button>
        <a
          [routerLink]="['/conta/operacoes']"
          class="btn btn-danger float-right mr-1"
        >
          <i class="fa fa-times"></i>
          Cancelar
        </a>
      </div>
    </div>
  </div>
</div>
