<div class="card mb-0 mt-4 rounded-0">
  <div class="card-header card-custom-top">
    <h5 class="align-middle text-dark">
      <i
        [className]="
          nameScreen === 'Extrato'
            ? 'fas fa-receipt'
            : 'fas fa-money-check-alt'
        "
      ></i>
      {{ nameScreen }}
    </h5>
  </div>
  <div class="card-body">
    <app-form-conta
      (isFormContaInvalid)="setIsFormContaInvalid($event)"
      (agenciaDaConta)="setAgenciaDaConta($event)"
      (numeroContaDaConta)="setNumeroContaDaConta($event)"
    ></app-form-conta>

  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-12">
        <button
          type="submit"
          class="btn btn-success float-right"
          [disabled]="isFormContaInvalid"
          (click)="onSubmit()"
        >
          <i class="fa fa-search"></i>
          Consultar
        </button>

        <a
          [routerLink]="['/conta/operacoes']"
          class="btn btn-danger float-right mr-1"
        >
          <i class="fa fa-times"></i>
          Cancelar
        </a>
      </div>
    </div>
  </div>
</div>
