<div class="card mb-0 mt-4 rounded-0">
  <div class="card-header card-custom-top">
  <h5 class="align-middle text-dark">
      <i class="fas fa-hand-holding-usd"></i> Consultar Contas
  </h5>
  </div>
  <div class="card-body">
  <form [formGroup]="form">
      <div class="row">
      <div class="col-12 col-md-4">
          <div class="form-group">
          <label class="form-required">
              <small [ngClass]="{'text-red': displayMessage.cpf}">CPF</small>
          </label>
          <input type="text" class="form-control" formControlName="cpf" [ngClass]="{'is-invalid': displayMessage.cpf}">
            <small class="form-text text-red" *ngIf="displayMessage.cpf" [innerHTML]="displayMessage.cpf"></small>
          </div>
      </div>


      </div>
  </form>
  </div>

  <div class="card-footer">
      <div class="row" >
          <div class="col-12 " >
          <button type="submit" class="btn btn-danger float-right" [disabled]="form.invalid" (click)="onSubmit()">
              <i class="fa fa-check"></i>
              Consultar
          </button>
          <a [routerLink]="['/conta/operacoes']" class="btn btn-secondary float-right mr-1"> 
              <i class="fa fa-times"></i>
              Cancelar
          </a>
          </div>
      </div>
  </div> 

</div>

<div class="card mb-0 mt-4 rounded-0">
  <div class="card-header card-custom-top">
  <h5 class="align-middle text-dark">
      <i class="fas fa-hand-holding-usd"></i> Conta
  </h5>

  <table class="table" *ngIf="formato">
    <thead class="thead-danger">
      <tr>
        <th scope="col">Agência</th>
        <th scope="col">Conta</th>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">E-mail</th>
        <th scope="col">Saldo</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entrada of formato">
        <td>{{entrada.agencia}}</td>
        <td>{{entrada.numeroConta}}</td>
        <td>{{entrada.cliente.nome}}</td>
        <td>{{entrada.cliente.cpf}}</td>
        <td>{{entrada.cliente.email}}</td>
        <td>{{entrada.saldo | currency:'BRL':true}}</td>

    </tr>
