<div class="card mb-0 mt-4 rounded-0">
  <div class="card-header card-custom-top">
    <h5 class="align-middle text-dark">
      <i
        [className]="
          nameScreen === 'Depositar'
            ? 'fas fa-hand-holding-usd'
            : 'fas fa-hand-holding-usd fa-flip-horizontal'
        "
      ></i>
      {{ nameScreen }}
    </h5>
  </div>
  <div class="card-body">
    <app-conta
      (isFormContaInvalid)="getIsFormContaInvalid($event)"
      (agenciaDaConta)="getAgenciaDaConta($event)"
      (numeroContaDaConta)="getNumeroContaDaConta($event)"
    ></app-conta>

    <app-valor
      (isFormValorInvalid)="getIsFormValorInvalid($event)"
      (valor)="getValor($event)"
    ></app-valor>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-12">
        <button
          type="submit"
          class="btn btn-success float-right"
          [disabled]="isFormContaInvalid || isFormValorInvalid"
          (click)="onSubmit()"
        >
          <i class="fa fa-check"></i>
          Salvar
        </button>

        <a
          [routerLink]="['/conta/operacoes']"
          class="btn btn-danger float-right mr-1"
        >
          <i class="fa fa-times"></i>
          Cancelar
        </a>
      </div>
    </div>
  </div>
</div>
